<head>
    {% load static %}
    <!-- Prism CSS -->
    <link href="{% static "tinymce/css/prism.css" %}" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>{% block title %}{% endblock title %}</title>

</head>


<body>
  <nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="{% url 'home:home' %}" class="brand-logo">Tutorials</a>
        </div>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'home:home' %}" class="waves-effect waves-light btn-small"><i class="material-icons right">home</i> Home</a></li>
        <li><a href="{% url 'home:about' %}" class="waves-effect waves-light btn-small"><i class="material-icons right">description</i> About</a></li>
        <li><a href="{% url 'home:contact' %}" class="waves-effect waves-light btn-small"><i class="material-icons right">contacts</i>Contact</a></li>
        
        
        {% if user.is_authenticated %}
          <li><a href="" class="waves-effect waves-light btn-small">{{user.username}}</a></li>
          <li><a href="" class="waves-effect waves-light btn-small">logout</a></li>
        {% else %}
          <li><a href="{% url 'home:register' %}" class="waves-effect waves-light btn-small">Register</a></li>
          <li><a href="" class="waves-effect waves-light btn-small">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength:2000});</script>
            {% elif message.tags == 'info'%}
                <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
            {% elif message.tags == 'warning'%}
                <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
            {% elif message.tags == 'error'%}
                <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength:10000});</script>
            {% endif %}
        {% endfor %}
    {% endif %}
  <div class="container ">
    {% block body %}
        
    {% endblock body %}
  </div>


</body>

<!-- Prism JS -->
<script src="{% static "tinymce/js/prism.js" %}"></script>