{% extends 'base.html' %}
{% block title %}Register{% endblock title %}
{% block body %}

    <div class="container">
        <h1>Register Your Account</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
        Already Have An Account? <a href=""><strong>Login</strong></a>
    </div>

    
{% endblock body %}